@model Xplosive.Models.Set

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>DailyWorkout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" asp-controller="Workout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div>
                <select id="exercisesSelect" name="exerciseId">

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    var exSelect = $('#exercisesSelect');
    var exercisesUrl = "https://wger.de/api/v2/exercise/?format=json&language=2";
    
    getExercises(exercisesUrl);
    var exCount = 0;
    var testCounter = 0;

    function getExercises(exercisesUrl) {

        $.ajax({
            url: exercisesUrl,
            success: function (exercises) {
                console.log(exercises);
                console.log(exercises.count)
                exercisesUrl = exercises.next;

                $.each(exercises.results, function (index, value) {
                    console.log(value.id);
                    console.log(value.name);
                    exSelect.append($("<option></option>")
                        .attr("value", value.id)
                        .text(value.name));
                })

                testCounter++;
                if (exercises.results) {
                    getExercises(exercisesUrl);
                }
                console.log(testCounter);
            },
            error: function () {
                alert("Something went wrong");
            },
        });
    }
</script>
}
