@using Xplosive.Viewmodels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Styles{

    <link rel="stylesheet" href="~/css/workout-add.css" />

}

@model DailyWorkoutViewModel
<partial name="_Nav" >

<div class="form-wrapper">
  <div class="form-container">
     <form asp-action="All" asp-controller="Workout">
        <input placeholder="yyyy-mm-dd" name="date" type="date" />
        <input type="submit" style="color: red" value="Submit" />
    </form>
    @foreach (var set in Model.Sets)
    {
        <form asp-controller="Workout" asp-action="Delete" method="post">
            <p>@set.ExerciseName</p>
            <p>Rep Count: @set.RepCount</p>
            <p>Weight: @set.Weight</p>
            <input type="submit" style="color: red" value="Delete" />
            <input type="hidden" name="setId" value=@set.Id />
            <hr />
        </form>
        
    }
  </div>
   
</div>