@{
    ViewData["Title"] = "Home Page";
}


<header id="homepageHeader">
    <partial name="~/Views/Shared/_Nav.cshtml">
        
    </partial>
    <div class="hero-text">
        <h1>Start your workout <div>diary now</div></h1>
        <div class="hero-border-wrapper">
            <div class="hero-border xl">
            </div>
            <div class="hero-border m"></div>
            <div class="hero-border m"></div>

        </div>
    </div>
</header>
 <section class="login-prompt">
      <p>Log in or create new acount </p>
      <a class="btn medium purple-bg white" href="">Log in</a>
      <div class="register-wrapper">
        <div class="register-line"></div>
        <a class="btn medium white light-purple-bg" href="">Sign up</a>
        <div class="register-line"></div>
      </div>

   </section>



