@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/homepage.css" />

}


<partial name="_Nav"/>
    
@* check if user logged in *@

@if (User.Identity.IsAuthenticated)
  {
     
  }
else
  {
  <section class="login-prompt">
    <p>Log in or create new acount </p>
        <a class="btn medium white purple-bg" asp-area="Identity" asp-page="/Account/Login">Login</a>

    <div class="register-wrapper">
        <div class="register-line"></div>
        <a class="btn medium white light-purple-bg" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
     

        <div class="register-line"></div>
    </div>
</section>
  }

<section class="infographics-section">
     <div class="infographics-item purple-bg">
        <img src="/images/gym 1.png" alt="" srcset="">
     </div>
     <div class="infographics-item light-purple-bg">
      <img src="/images/restaurant 1.png" alt="" srcset="">
   </div>

   <div class="infographics-item dark-purple-bg">
    <img src="/images/statistic 1.png" alt="" srcset="">
 </div>
   </section>

   <hr class="purle">
   <section class="about-us">
     <p>About us</p>
     <div class="content-wrapper">
      <div class="content-item-first light-purple-bg">

      </div>
     <div class="content-item-second purple-bg">

     </div>
     </div>
   </section>

<div  class="section-inspirations">
    <div class="quote-container dark-purple-bg white">
        <p id="quoteParagraph" class="fade-in"></p>
        <span id="quoteAuthor" class="quote-author fade-in"></span>
    </div>

</div>




@section Scripts {
    <script src="~/js/inspirationalQuotes.js"></script>
}

