@{
    ViewData["Title"] = "Home Page";
}


<header id="homepageHeader">
    <partial name="~/Views/Shared/_Nav.cshtml">
        
    </partial>
    <div class="hero-text">
        <h1>Start your workout <div>diary now</div></h1>
        <div class="hero-border-wrapper">
            <div class="hero-border xl">
            </div>
            <div class="hero-border m"></div>
            <div class="hero-border m"></div>

        </div>
    </div>
</header>
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>


