@{
  ViewData["Title"] = "Home Page";
}

@section Styles{
<link rel="stylesheet" href="~/css/homepage.css" />

}


<partial name="_Nav" />

@* check if user logged in *@

@if (User.Identity.IsAuthenticated)
{

}
else
{
  <section class="login-prompt">
  <p>Log in or create new acount </p>
  <a class="btn medium white purple-bg" asp-area="Identity" asp-page="/Account/Login">Login</a>

  <div class="register-wrapper">
    <div class="register-line"></div>
    <a class="btn medium white light-purple-bg" asp-area="Identity" asp-page="/Account/Register">Sign up</a>


    <div class="register-line"></div>
  </div>
</section>
}

<section class="info-section">
  <div class="info-contrainer dark-purple-bg white">
    <div class="info-header">
      <h2>Workouts</h2>
      <img  class="workout-icon info-icon" src="~/images/gym 1.png" alt="" srcset="">
    </div>
    <p class="info-text">
      Track you workout progress and find new and interesting ways of training your body.
    </p>
    <a href="" class="btn medium purple-bg white">Add workout entry</a>
  </div>
  <div class="info-contrainer purple-bg white">
    <div class="info-header">
      <h2>Nutitions</h2>
      <img  class="info-icon" src="~/images/restaurant 1.png" alt="" srcset="">
    </div>
    <p class="info-text">
      Learn more about your nutrition intake and how to improve your daily diet.
    </p>
    <a href="" class="btn medium dark-purple-bg white">Add nutrition entry</a>

  </div>
  <div class="info-contrainer dark-purple-bg white">
    <div class="info-header">
      <h2>Insights</h2>
      <img  class="info-icon" src="~/images/statistic 1.png" alt="" srcset="">
    </div>
    <p class="info-text">
      Learn more about how your body works and how to improve your health.
      See information about your body training progress.
    </p>
    <a href="" class="btn medium purple-bg white">Check your statistic</a>

  </div>
  
</section>


<div class="section-inspirations">
  <div class="quote-container dark-purple-bg white">
    <p id="quoteParagraph" class="fade-in"></p>
    <span id="quoteAuthor" class="quote-author fade-in"></span>
  </div>

</div>




@section Scripts {
<script src="~/js/inspirationalQuotes.js"></script>
}
