
@section Styles{
      <link rel="stylesheet" href="~/css/errorstyle.css" />
}
<partial name="_Nav" />
 <section class="selection">
        <div class="square">

            <div id="line1">
            </div>

            <div id="line2">
            </div>

            <img id = "img" src="icon.png" alt="404">
            <h1 class="title">404</h1>
            <p class="paragraph">You are in the wrong place bro</p>
            
            <div id = "box">
            </div>
            
            <div id = "parallelogram">
            </div>

            <div id = "button">
                <p id = "txtbtn"> Go Back</p>
            </div>
        </div>
    </section>