@model Xplosive.Viewmodels.SetViewmodel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>DailyWorkout</h4>
<hr />
<div class="row">
    <div class="col-md-4">

            <input type="text" id="nutritionId" value="juice" />
            <input type="button" value="search" onclick="getNutritionInfo(false)" />

        <div id="nutritionDiv">
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    var exSelect = $('#exercisesSelect');

    var exercisesUrl = "https://wger.de/api/v2/ingredient/?format=json&language=2";
    var exCount = 0;
    var counter = 0;

    function getName() {
        let selText = $("#exercisesSelect option:selected").text();
        var exerciseName = document.getElementById("exerciseName");
        exerciseName.value = selText;
    }

    function getNutritionInfo(fromRec) {

        var nutritionId = $('#nutritionId');
        var nutritionResult = $('#nutritionResult');
        var nutritionProtein = $('#nutritionProtein');
        var nutritionCarbs = $('#nutritionCarbs');
        var nutritionFibres = $('#nutritionFibres');
        var nutritionDiv = $('#nutritionDiv');

        if(!fromRec){
            nutritionDiv.empty();
            exercisesUrl = "https://wger.de/api/v2/ingredient/?format=json&language=2";
            counter=0;
        }

        var reachedTen = false;
        

        $.ajax({
            url: exercisesUrl,
            success: function (exercises) {
                console.log(exercises);
                console.log(exercises.count)
                exercisesUrl = exercises.next;
                $.each(exercises.results, function (index, value) {
                    console.log(value.id);
                    console.log(value.name);
                    console.log(nutritionId);
                    if(value.name.toLowerCase().includes(nutritionId.val().toLowerCase()))
                    {
                        var currentForm = "<form method=\"post\" action=\"Add\" id=\"currentForm\"></form>";
                        nutritionDiv.append(currentForm);
                        var currentFormId = $("#currentForm");
                        currentFormId.append($("<label> </label> </br>")
                            .text(value.name + "|\n"
                                  + "Protein: " +value.protein + "|\n"
                                  + "Carbs: " + value.carbohydrates + "|\n"
                                  + "Sugar: " + value.carbohydrates_sugar + "|\n"
                                  + "Fibres: " + value.fibres + "|\n"
                                  + "Energy: " + value.energy + "kcal. |\n"
                                  + "Fat: " + value.fat + "|\n"
                                  + "Fat saturated: " + value.fat_saturated + "|\n"
                                  + "Sodium: " + value.sodium + "|\n"));

                        currentFormId.append($("<input /> ").attr({"value":value.id,type:"hidden" }));
                        currentFormId.append($("<input />").attr({"name":"protein", "value":value.protein, "type":"hidden" }));
                        currentFormId.append($("<input />").attr({"name":"name", "value":value.name, "type":"hidden" }));
                        currentFormId.append($("<input />").attr({"name":"carbohydrates", "value":value.carbohydrates, "type":"hidden"}));
                        currentFormId.append($("<input />").attr({"name":"carbohydratesSugar", "value": value.carbohydrates_sugar,"type":"hidden"}));
                        currentFormId.append($("<input />").attr({"name":"fibres", "value":value.fibres,"type":"hidden"}));
                        currentFormId.append($("<input />").attr({"name":"energy", "value":value.energy, "type":"hidden"}));
                        currentFormId.append($("<input />").attr({"name":"fat", "value":value.fat,"type":"hidden"}));
                        currentFormId.append($("<input />").attr({"name":"fatSaturated", "value":value.fat_saturated, "type":"hidden"}));
                        currentFormId.append($("<input />").attr({"name":"sodium", "value":value.sodium,"type":"hidden"}));
                        currentFormId.append("<br/>")
                        currentFormId.append($("<input />").attr({"type":"submit", "style":"color:red"}));
                        currentFormId.append("<hr/> <br/>")
                       
                        counter++;
                        return false;
                    }
                })

                if(counter==10){
                    return false;
                }
                else if (exercises.results) {
                    getNutritionInfo(true);
                }
            },
            error: function () {
                alert("Something went wrong");
            },
        });
        if(counter==10){
            nutritionDiv.emtpy();
        }
    }
</script>
}
