@model Xplosive.Viewmodels.SetViewmodel

@{
    ViewData["Title"] = "Add";
}
@section Styles{
      <link rel="stylesheet" href="~/css/add-nutritions.css" />

}
<partial name="_Nav" />
<section class="add-nutrition-section">
  <div class="form-wrapper">
    <div class="search-wrapper">

            <input class="search-field" type="text" id="nutritionId" value="juice" />
            <input class="btn medium submit-btn" type="button" value="search" onclick="getNutritionInfo(false)" />

    </div>
</div>
<div id="nutritionDiv">
</div>
<div>
    <a href="/Nutrition/All">Back to List</a>
</div>
</section>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    var exSelect = $('#exercisesSelect');

    var exercisesUrl = "https://wger.de/api/v2/ingredient/?format=json&language=2";
    var exCount = 0;
    var counter = 0;

    function getName() {
        let selText = $("#exercisesSelect option:selected").text();
        var exerciseName = document.getElementById("exerciseName");
        exerciseName.value = selText;
    }

    function getNutritionInfo(fromRec) {

        var nutritionId = $('#nutritionId');
        var nutritionResult = $('#nutritionResult');
        var nutritionProtein = $('#nutritionProtein');
        var nutritionCarbs = $('#nutritionCarbs');
        var nutritionFibres = $('#nutritionFibres');
        var nutritionDiv = $('#nutritionDiv');

        if(!fromRec){
            nutritionDiv.empty();
            exercisesUrl = "https://wger.de/api/v2/ingredient/?format=json&language=2";
            counter=0;
        }

        var reachedTen = false;
        

        $.ajax({
            url: exercisesUrl,
            success: function (exercises) {
                console.log(exercises);
                console.log(exercises.count)
                exercisesUrl = exercises.next;
                $.each(exercises.results, function (index, value) {
                    console.log(value.id);
                    console.log(value.name);
                    console.log(nutritionId);
                    if(value.name.toLowerCase().includes(nutritionId.val().toLowerCase()))
                    {
                        var currentForm = `<form method="post" action="Add" id="currentForm-${value.id}"></form>`;
                        nutritionDiv.append(currentForm);
                        var currentFormId = $(`#currentForm-${value.id}`);
                        currentFormId.append($("<label> </label> </br>")
                            .append($(`
                                        <h2 class="dark-purple">${value.name}</h2>
                                        <div class="nutrition-properties">
                                          <div class="nutrition-property blue-bg white">
                                              <p>Protein: ${value.protein}</p>
                                          </div>
                                          <div class="nutrition-property red-bg white">
                                              <p>Carbs: ${value.carbohydrates}</p>
                                          </div>
                                          <div class="nutrition-property purple-bg white ">
                                              <p>Sugar: ${value.carbohydrates_sugar}</p>
                                          </div>
                                          <div class="nutrition-property dark-purple-bg white">
                                              <p>Fibres: ${value.fibres}</p>
                                          </div>
                                          <div class="nutrition-property light-purple-bg white">
                                              <p>Energy: ${value.energy}</p>
                                          </div>
                                          <div class="nutrition-property orange-bg">
                                              <p>Fat: ${value.fat}</p>
                                          </div>
                                          <div class="nutrition-property purple-bg white">
                                              <p>Fat saturated: ${value.fat_saturated}</p>
                                          </div>
                                          <div class="nutrition-property red-bg white">
                                              <p>Sodium: ${value.sodium}</p>
                                          </div>
                                        </div>
                                  `)));

                        currentFormId.append($("<input /> ").attr({"value":value.id,type:"hidden" }));
                        currentFormId.append($("<input />").attr({"name":"protein", "value":value.protein, "type":"hidden" }));
                        currentFormId.append($("<input />").attr({"name":"name", "value":value.name, "type":"hidden" }));
                        currentFormId.append($("<input />").attr({"name":"carbohydrates", "value":value.carbohydrates, "type":"hidden"}));
                        currentFormId.append($("<input />").attr({"name":"carbohydratesSugar", "value": value.carbohydrates_sugar,"type":"hidden"}));
                        currentFormId.append($("<input />").attr({"name":"fibres", "value":value.fibres,"type":"hidden"}));
                        currentFormId.append($("<input />").attr({"name":"energy", "value":value.energy, "type":"hidden"}));
                        currentFormId.append($("<input />").attr({"name":"fat", "value":value.fat,"type":"hidden"}));
                        currentFormId.append($("<input />").attr({"name":"fatSaturated", "value":value.fat_saturated, "type":"hidden"}));
                        currentFormId.append($("<input />").attr({"name":"sodium", "value":value.sodium,"type":"hidden"}));
                        currentFormId.append("<br/>")
                        currentFormId.append($("<input class='submit-btn white round add-nutrition-btn'/>").attr({"type":"submit"}));
                        currentFormId.append("<hr/> <br/>")
                       
                        counter++;
                        return false;
                    }
                })

                if(counter==10){
                    return false;
                }
                else if (exercises.results) {
                    getNutritionInfo(true);
                }
            },
            error: function () {
                alert("Something went wrong");
            },
        });
        if(counter==10){
            nutritionDiv.emtpy();
        }
    }
</script>
}
