<header id="homepageHeader">
  <div class="navbar flex">
    <div class="logo">
      <a href="/">
        <img src="~/images/Xplosive.png" width=75 height=75 alt="">
      </a>
    </div>
      <button data-visible="false" class="toggle-nav"></button>
      <div data-visible="true" class="nav-items flex">
       <div class="nav-item">
        <div class="menu-icon">
          <div class="line one"></div>
          <div class="line two"></div>
          <div class="line three"></div>
        </div>
      </div>
      <div  class="nav-shadow"></div>
      
      @if (User.Identity.IsAuthenticated)
  {
      <div class="nav-item">
        <a href='/Workout/All?date=@DateTime.Now.ToString("MM-dd-yyyy")'>Workouts</a>
      </div>

      <div class="nav-item">
        <a href="#">Nutritions</a>
      </div>

      <div class="nav-item">
        <a href="">Statistics</a>
      </div>
      <div class="nav-item">
        <a href="">@User.Identity.Name.Split("@")[0]</a>
      </div>
      <div class="nav-item">
        <a href="">About us</a>
      </div>
      <div class="nav-item">
        <a class="purple-bg" href="/Account/Logout">Logout</a>
      </div>
      
        
  }
else
  {
      <div class="nav-item">
        <a href="/Account/Login">Login</a>
      </div>
      <div class="nav-item">
        <a href="/Account/Register">Register</a>
      </div>
      <div class="nav-item">
        <a href="">About us</a>
      </div>
  }

      
     
      </div>
    </div>
  </div>

  <div class="hero-text">
    <h1>Start your workout <div>diary now</div>
    </h1>
    <div class="hero-border-wrapper">
      <div class="hero-border xl">
      </div>
      <div class="hero-border m"></div>
      <div class="hero-border m"></div>

    </div>
  </div>
</header>
