<header id="homepageHeader">
    
       
    <div class="navbar flex">
        <div class="logo">
            <a href="index.html">
                <img src="~/images/Xplosive.png" width=75 height=75 alt="">
            </a>
        </div>
        <div class="nav-items flex">
            <div class="nav-shadow"></div>
            <div class="nav-item">
            
                <a href="">Home</a>
            </div>
            <div class="nav-item">
                <a asp-area="" asp-controller="Workout" asp-action="Add">Workouts</a>
            </div>
            <div class="nav-item">
                <a href="">Nutritions</a>
            </div>
            <div class="nav-item">
                <a href="">Statistics</a>
            </div>
            <div class="nav-item">
                <a href="">About us</a>
            </div>
        </div>
    </div>

    <div class="hero-text">
        <h1>Start your workout <div>diary now</div></h1>
        <div class="hero-border-wrapper">
            <div class="hero-border xl">
            </div>
            <div class="hero-border m"></div>
            <div class="hero-border m"></div>

        </div>
    </div>
</header>

