
.form-group{
  width: 100%;
}
.form-control {
  display: block;
  margin-bottom: 1em;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  width: 100%;
  
}

.btn{
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s;
  text-decoration: none;
}
.btn.sm{
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.btn.medium{
  font-size: 1.5rem;
  padding: 0.2rem 2.5rem;
}
.btn.large{
  font-size: 3rem;
  padding: 1rem 3rem;
}

.btn.underlined{
  text-decoration: underline;
}
.border-none{
  border: none;
}