.purple{
  color: var(--purple);
}

.light-purple{
  color: var(--light-purple);
}

.dark-purple{
  color: var(--dark-purple);
}

.white{
  color: var(--white);
}
.red{
  color: var(--red);
}
.black{
  color: var(--black);
}
.blue{
  color: var(--blue);
}
.green{
  color: var(--green);
}
.orange{
  color: var(--orange);
}
