.navbar{
    justify-content: space-between;
    align-items: center;
    padding:0;

}
.nav-items{
    position: relative;
    justify-content: space-evenly;
    height: 50px;
    width: 80%;
    background-color: var(--purple);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 5% 61%, 14% 0);
    padding-left: 1.5rem;
    margin-top: 0%;
    padding-top: 0;
    z-index: 2;
}
.nav-shadow{
    position: absolute;
    top: 5px; /* equal to border thickness */
    left: 5px; /* equal to border thickness */
    width:  calc(100% - 10px); /* container height - (border thickness * 2) */
    height:calc(100% - 10px); /* container height - (border thickness * 2) */
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 5% 61%, 14% 0);
    z-index: -1;
    background-color: var(--dark-purple);
}

.nav-item a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    display: block;
    transition: 0.3s;
}
#homepageHeader{
    background-image: url("/images/image1.png");
    min-height: 100vh;
    background-size: cover;
    object-fit: cover;
    font-family: 'Bebas Neue', cursive;
    max-width: 100%;
    
}

.hero-text{

    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: var(--white);
    text-align: left;
    z-index: 2;
    width: 50%;
}
.hero-text h1{
    font-size: 74pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.hero-border{
    background-color: var(--light-purple);
    clip-path: polygon(89% 0, 96% 63%, 100% 100%, 0 100%, 0 0);
    height: 30px;


}
.hero-border-wrapper{
    display: flex;
    gap: 2rem;
}

.hero-border.xl{
    width: 70%;
}

.hero-border.m{
    width: 50px;

    transform: skew(50deg);

}
.menu-icon{
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  display: none;
}
.menu-icon .line{
  background-color: var(--white);
  width: 30px;
  height: 5px;
  border-radius: 10px;

}

/* mobile screens */
@media screen and (max-width: 768px){
  .toggle-nav{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    margin: 2rem;
    background-image: url("/images/hamburger-open.png");
    background-color: var(--dark-purple);
    background-size: cover;

    background-position: center;
    width: 50px;
    height: 50px;
    border:0;
  }
  .nav-items[data-visible="false"]{
    display: flex;
    transform: translateX(0%);
  }
  .nav-items{
    
    padding: 2rem;
    display: none;
    flex-direction: column;
    background-color: blueviolet;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width:50%;
    transform: translateX(100%);
    transition: ease-in 0.5s;
    z-index: 8000;

  }
  .hero-text h1{
    font-size: 40pt;
  }
}