:root{
  --white: #fff;
  --purple: #7e34a4;
  --light-purple: #bd44a0;
  --dark-purple: #4828ab;

}


body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex{
  display: flex;
}
.navbar{
  justify-content: space-between;
  align-items: center;
  padding:0;

}
.nav-items{
  position: relative;
  justify-content: space-evenly;
  height: 50px;
  width: 60%;
  background-color: var(--purple);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 5% 61%, 14% 0);
  padding-left: 1.5rem;
  margin-top: 0%;
  padding-top: 0;
  z-index: 2;
}
.nav-shadow{
  position: absolute;
  top: 5px; /* equal to border thickness */
  left: 5px; /* equal to border thickness */
  width:  calc(100% - 10px); /* container height - (border thickness * 2) */
  height:calc(100% - 10px); /* container height - (border thickness * 2) */
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 5% 61%, 14% 0);
  z-index: -1;
  background-color: var(--dark-purple);
}

.nav-item a {
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  display: block;
  transition: 0.3s;
}

#homepageHeader{
  background-image: url("/images/image1.png");
  min-height: 100vh;
  background-size: cover;
  object-fit: cover;
  font-family: 'Bebas Neue', cursive;
  
}

.hero-text{

  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: var(--white);
  text-align: left;
  z-index: 2;
  width: 50%;
}
.hero-text h1{
  font-size: 74pt;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

.hero-border{
  background-color: var(--light-purple);
  clip-path: polygon(89% 0, 96% 63%, 100% 100%, 0 100%, 0 0);
  height: 30px;


}
.hero-border-wrapper{
  display: flex;
  gap: 2rem;
}

.hero-border.xl{
  width: 70%;
}

.hero-border.m{
  width: 50px;

  transform: skew(50deg);

}
