/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
:root{
  --white: #fff;
  --purple: #7e34a4;
  --light-purple: #bd44a0;
  --dark-purple: #4828ab;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex{
  display: flex;
}
.navbar{
  justify-content: space-between;
  align-items: center;
  padding:0;

}
.nav-items{
  position: relative;
  justify-content: space-evenly;
  height: 50px;
  width: 60%;
  background-color: var(--purple);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 5% 61%, 14% 0);
  padding-left: 1.5rem;
  margin-top: 0%;
  padding-top: 0;
  z-index: 2;
}
.nav-shadow{
  position: absolute;
  top: 5px; /* equal to border thickness */
  left: 5px; /* equal to border thickness */
  width:  calc(100% - 10px); /* container height - (border thickness * 2) */
  height:calc(100% - 10px); /* container height - (border thickness * 2) */
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 5% 61%, 14% 0);
  z-index: -1;
  background-color: var(--dark-purple);
}

.nav-item a {
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  display: block;
  transition: 0.3s;
}